<!-- src/app/pages/property/my-properties/my-properties.component.html -->
<section class="container my-props">
  <div class="header">
    <h2>My Properties</h2>
    <button mat-raised-button color="primary" (click)="openCreate()">
      <mat-icon>add</mat-icon>
      Create property
    </button>
  </div>

  <ng-container *ngIf="!loading; else skeletons">
    <ng-container *ngIf="items?.length; else empty">
      <div class="grid">
        <app-property-card
          class="card-wrap"
          *ngFor="let p of items; trackBy: trackById"
          [data]="p"
          [ownerMode]="true"
          (open)="openDetail($event)"
          (edit)="openEdit($event)"
          (remove)="delete($event)">
        </app-property-card>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #skeletons>
    <div class="grid">
      <app-property-card *ngFor="let s of [1,2,3,4,5,6]" [loading]="true"></app-property-card>
    </div>
  </ng-template>

  <ng-template #empty>
    <div class="empty">
      <mat-icon>home_work</mat-icon>
      <p>You don’t have any properties yet.</p>
      <button mat-raised-button color="primary" (click)="openCreate()">Create your first property</button>
    </div>
  </ng-template>
</section>
