<section class="featured" [attr.aria-busy]="loading">
  <div class="header container">
    <h3>{{ title }}</h3>
    <a *ngIf="showLink" class="link" [routerLink]="linkTo">View all</a>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner diameter="36"></mat-spinner>
  </div>

  <ng-container *ngIf="!loading">
    <div class="grid" role="list" *ngIf="items.length; else empty">
      <app-property-card
        role="listitem"
        *ngFor="let p of items; trackBy: trackById"
        [data]="p"
        [dense]="true"
        (open)="go($event)">
      </app-property-card>
    </div>

    <ng-template #empty>
      <div class="empty">{{ emptyText }}</div>
    </ng-template>
  </ng-container>
</section>
